{% extends 'blog/post_detail.html' %}
{% block comment %}
<div class="main-comment-section">
    {{comments.count}} Comment {{comment|pluralize}}
    {% for comment in comments %}
    <blockquote class="blockquote">
      <p class="mb-0">{{comment.content}}</p>
      <footer class="blockquote-footer">{{comment.user|first}}</footer>
    </blockquote>
    <div class="replied-section-container mt-2">
        <div class="form-group-row">
          <form method="POST" >
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{object.id}}">
            {{comment_form.as_p}}
            {% if request.user.is_authenticated%}
            <input type="submit" value="Submit" class="btn btn-outline-success">
            {% else %}
            <input type="submit" value="Submit" class="btn btn-outline-success"disabled>
            {% endif %}
          </form>
        </div>
    </div>
  </div>
  {% endfor %}
  {% endblock %}